# cryptography
# python-dotenv
blinker
cffi
click
colorama
cryptography
Flask
Flask-MySQL
flask-mysql-connector
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
numpy
pandas
pycparser
PyMySQL
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
wfastcgi